{% extends 'base.html.twig' %}

{% block body %}
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <h1>{{ userName }}'s Personal Health Record</h1>
            <p>This is the mypersonalhealthchart.com landing page</p>
            <p>Hello {{ userName }}!  this is the front page of your Personal Health Record</p>
            <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
        </div>
    </header>

{% endblock %}