{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><?php echo strtoupper(strtolower($cleverWelcomeMessage)); ?></h1>

        <p>Over <?php echo $visitCount ?> visit records!</p>
        <p><a href="/visit_display.php" class="btn btn-primary btn-lg">Visit List</a></p>
        <p><a href="/provider_display.php" class="btn btn-primary btn-lg">Provider List</a></p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

