{% extends 'base.html.twig' %}

{% block body %}
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <h1>Welcome to the Landing Page!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.</p>

            <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
        </div>
    </header>
Hello {{ name }}!  this works
    It should
{% endblock %}